# runtime data
data/

# env vars
.env

# homepage generated config
homepage/services.yaml

# databases
*.sqlite
*.sqlite3
*.db

# logs
*.log

# docker overrides
docker-compose.override.yml

# OS junk
.DS_Store
Thumbs.db

# editor
.vscode/
.idea/
*.bak

# temporary
*.tmp
*.swp
